In [3]:
#import the needed libraries
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
import os
import matplotlib.pylab as plt
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import sklearn.metrics

from sklearn import datasets
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV

In [4]:
#get and clean stats datset
stats = pd.read_csv("/home/lemina/Desktop/data/stats.csv")
stats_clean = stats.dropna()
stats_clean.columns
#we will use stats.csv to determine some information about the performance of every player in the previous matches
del stats_clean['Unnamed: 0']
del stats_clean['MT']
stats_clean

,ID1,ID2,ID_T,ID_R,FS_1,FSOF_1,ACES_1,DF_1,UE_1,W1S_1,...,NA_2,NAOF_2,TPW_2,FAST_2,A1S_2,A2S_2,RPW_1,RPWOF_1,RPW_2,RPWOF_2
312,7042,2992,8885,1,36.0,43.0,3.0,3.0,11.0,29,...,7.0,19.0,30,208.0,188.0,150.0,27.0,46.0,11.0,43.0
314,9094,9831,8885,1,63.0,107.0,6.0,4.0,47.0,43,...,11.0,17.0,95,198.0,177.0,140.0,34.0,88.0,41.0,107.0
315,8146,603,8885,1,62.0,84.0,12.0,5.0,43.0,48,...,15.0,25.0,83,187.0,162.0,134.0,38.0,95.0,26.0,84.0
323,1003,9842,8885,1,65.0,91.0,3.0,2.0,43.0,44,...,13.0,30.0,85,202.0,170.0,122.0,46.0,96.0,35.0,91.0
326,47,778,8885,1,52.0,87.0,3.0,6.0,13.0,43,...,29.0,56.0,80,207.0,189.0,164.0,21.0,78.0,23.0,87.0
330,9833,6225,8885,1,29.0,49.0,6.0,3.0,11.0,28,...,14.0,28.0,50,221.0,187.0,148.0,24.0,66.0,8.0,49.0
331,1837,7636,8885,1,66.0,83.0,0.0,2.0,30.0,41,...,19.0,32.0,74,187.0,172.0,145.0,37.0,78.0,33.0,83.0
334,3833,869,8885,1,78.0,125.0,4.0,0.0,70.0,50,...,17.0,26.0,123,187.0,162.0,130.0,55.0,125.0,53.0,125.0
336,714,1621,8885,1,41.0,68.0,3.0,2.0,15.0,26,...,11.0,25.0,67,197.0,180.0,149.0,36.0,75.0,28.0,68.0
340,3676,12896,8885,1,81.0,144.0,12.0,3.0,40.0,59,...,13.0,20.0,135,216.0,194.0,147.0,44.0,131.0,48.0,144.0
341,7393,9840,8885,1,36.0,51.0,0.0,1.0,16.0,28,...,13.0,22.0,48,195.0,177.0,138.0,33.0,65.0,16.0,51.0
358,9153,1569,8885,2,35.0,54.0,5.0,0.0,15.0,30,...,14.0,20.0,48,194.0,175.0,142.0,21.0,54.0,15.0,54.0
360,9584,4149,8885,2,40.0,61.0,2.0,0.0,21.0,26,...,8.0,13.0,39,196.0,174.0,143.0,24.0,41.0,22.0,61.0
362,649,6276,8885,2,38.0,57.0,4.0,2.0,20.0,28,...,6.0,13.0,52,200.0,187.0,137.0,31.0,66.0,17.0,57.0
366,6080,1162,8885,2,45.0,79.0,13.0,3.0,21.0,37,...,6.0,9.0,66,204.0,193.0,154.0,23.0,65.0,24.0,79.0
372,8146,9094,8885,2,42.0,68.0,5.0,2.0,19.0,35,...,15.0,18.0,64,207.0,191.0,147.0,18.0,63.0,19.0,68.0
373,13429,6501,8885,2,30.0,53.0,4.0,2.0,13.0,24,...,6.0,14.0,46,182.0,173.0,143.0,27.0,56.0,17.0,53.0
377,7826,7456,8885,2,74.0,125.0,1.0,3.0,53.0,46,...,20.0,23.0,115,188.0,167.0,134.0,41.0,106.0,50.0,125.0
397,13429,8146,8885,3,45.0,76.0,8.0,2.0,21.0,30,...,24.0,42.0,80,214.0,195.0,162.0,39.0,93.0,26.0,76.0
407,553,685,8885,4,45.0,73.0,11.0,2.0,12.0,41,...,19.0,32.0,73,201.0,182.0,156.0,38.0,97.0,14.0,73.0
410,678,1042,8885,4,84.0,143.0,9.0,2.0,61.0,64,...,20.0,25.0,134,203.0,168.0,147.0,64.0,154.0,44.0,143.0
414,6465,7806,8885,4,80.0,138.0,12.0,6.0,39.0,60,...,19.0,25.0,114,197.0,169.0,143.0,42.0,101.0,55.0,138.0
416,1718,553,8885,5,68.0,116.0,5.0,1.0,34.0,44,...,17.0,28.0,102,213.0,181.0,144.0,44.0,102.0,44.0,116.0
417,678,5083,8885,5,20.0,26.0,1.0,1.0,7.0,18,...,3.0,7.0,17,195.0,178.0,137.0,24.0,36.0,5.0,26.0
419,6465,6642,8885,5,54.0,85.0,14.0,5.0,35.0,41,...,20.0,29.0,86,210.0,179.0,149.0,53.0,110.0,29.0,85.0
420,7452,3996,8885,5,91.0,149.0,16.0,4.0,73.0,69,...,23.0,40.0,143,192.0,175.0,151.0,69.0,157.0,55.0,149.0
421,11522,4061,8885,5,81.0,119.0,6.0,1.0,29.0,62,...,27.0,45.0,112,218.0,199.0,151.0,38.0,118.0,32.0,119.0
423,831,72,8885,5,45.0,78.0,21.0,1.0,36.0,41,...,8.0,9.0,64,176.0,163.0,134.0,34.0,80.0,18.0,78.0
425,4045,11953,8885,5,92.0,143.0,9.0,2.0,39.0,64,...,31.0,44.0,138,211.0,188.0,157.0,67.0,158.0,47.0,143.0
426,5837,564,8885,5,121.0,191.0,43.0,2.0,69.0,87,...,43.0,59.0,187,196.0,175.0,147.0,58.0,177.0,68.0,191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62089,674,6100,13026,16,31.0,56.0,6.0,2.0,13.0,26,...,7.0,10.0,54,220.0,184.0,165.0,28.0,71.0,11.0,56.0
62090,3985,891,13026,17,21.0,35.0,4.0,1.0,9.0,19,...,5.0,7.0,40,209.0,161.0,142.0,15.0,50.0,5.0,35.0
62091,1075,8806,13024,16,93.0,167.0,10.0,3.0,97.0,65,...,12.0,18.0,173,203.0,179.0,149.0,78.0,185.0,66.0,167.0
62092,678,831,13022,16,48.0,68.0,5.0,1.0,19.0,37,...,3.0,3.0,58,209.0,192.0,156.0,23.0,61.0,20.0,68.0
62093,4146,24008,13022,17,44.0,69.0,13.0,2.0,23.0,39,...,2.0,2.0,61,218.0,202.0,188.0,39.0,83.0,17.0,69.0
62094,20104,7317,13007,16,37.0,55.0,6.0,1.0,18.0,33,...,6.0,7.0,53,201.0,187.0,159.0,31.0,75.0,9.0,55.0
62095,2123,33298,13007,17,34.0,47.0,5.0,1.0,17.0,29,...,4.0,7.0,41,208.0,194.0,153.0,24.0,55.0,10.0,47.0
62096,7540,748,13023,16,74.0,107.0,26.0,2.0,24.0,68,...,11.0,14.0,95,202.0,156.0,158.0,30.0,113.0,12.0,107.0
62097,26473,12534,13023,17,68.0,122.0,14.0,10.0,43.0,54,...,12.0,16.0,120,209.0,174.0,136.0,40.0,115.0,45.0,122.0
62098,5992,9043,13025,16,117.0,173.0,19.0,12.0,94.0,89,...,6.0,8.0,165,195.0,154.0,134.0,73.0,177.0,61.0,173.0
62099,7295,7345,13025,17,54.0,84.0,4.0,0.0,43.0,41,...,5.0,10.0,74,204.0,171.0,142.0,33.0,80.0,27.0,84.0
73281,34861,35036,12822,9,25.0,48.0,3.0,3.0,16.0,19,...,7.0,13.0,41,197.0,180.0,149.0,27.0,52.0,16.0,48.0
73282,30470,30419,12822,9,14.0,30.0,3.0,1.0,7.0,10,...,9.0,11.0,35,205.0,186.0,143.0,13.0,36.0,12.0,30.0
73316,33502,30470,12822,10,56.0,107.0,4.0,5.0,28.0,41,...,25.0,45.0,95,204.0,188.0,152.0,33.0,93.0,35.0,107.0
73317,39309,34861,12822,10,28.0,56.0,8.0,2.0,5.0,21,...,9.0,16.0,48,207.0,194.0,162.0,25.0,57.0,16.0,56.0
73461,33502,39309,12822,12,41.0,76.0,1.0,6.0,34.0,31,...,11.0,20.0,77,191.0,176.0,152.0,43.0,91.0,29.0,76.0
73946,4146,3985,13367,13,108.0,174.0,11.0,5.0,50.0,75,...,16.0,25.0,166,224.0,196.0,139.0,51.0,158.0,59.0,174.0
73947,20193,18017,13367,14,55.0,102.0,9.0,6.0,23.0,48,...,12.0,25.0,98,221.0,206.0,171.0,46.0,116.0,28.0,102.0
73948,11940,791,13366,13,93.0,149.0,7.0,4.0,61.0,68,...,12.0,17.0,143,198.0,187.0,149.0,46.0,137.0,52.0,149.0
73949,20847,728,13365,13,39.0,77.0,5.0,3.0,29.0,32,...,3.0,6.0,58,198.0,187.0,151.0,38.0,75.0,21.0,77.0
73950,17474,6101,13368,13,74.0,138.0,17.0,11.0,48.0,57,...,8.0,17.0,137,213.0,198.0,148.0,55.0,142.0,50.0,138.0
74093,3985,18017,13367,16,90.0,124.0,8.0,2.0,28.0,73,...,28.0,46.0,129,220.0,199.0,170.0,55.0,155.0,29.0,124.0
74094,4067,1042,13366,14,41.0,68.0,5.0,3.0,20.0,34,...,3.0,8.0,51,204.0,174.0,154.0,42.0,74.0,19.0,68.0
74095,11940,4067,13366,16,96.0,157.0,4.0,4.0,51.0,60,...,14.0,21.0,134,209.0,178.0,145.0,49.0,117.0,66.0,157.0
74096,12190,7772,13365,14,49.0,73.0,2.0,1.0,39.0,35,...,5.0,11.0,62,200.0,183.0,146.0,46.0,87.0,21.0,73.0
74097,20847,12190,13365,16,59.0,102.0,2.0,3.0,48.0,44,...,10.0,11.0,98,204.0,178.0,145.0,39.0,107.0,30.0,102.0
74098,728,7772,13365,17,41.0,81.0,0.0,7.0,30.0,33,...,3.0,6.0,80,201.0,187.0,147.0,31.0,83.0,28.0,81.0
75317,5837,25165,13368,14,62.0,100.0,23.0,2.0,39.0,48,...,3.0,7.0,85,199.0,180.0,149.0,28.0,81.0,32.0,100.0
75319,6101,5837,13368,16,57.0,101.0,13.0,1.0,23.0,48,...,1.0,3.0,93,216.0,203.0,180.0,22.0,89.0,26.0,101.0
75320,25165,17474,13368,17,58.0,101.0,10.0,5.0,38.0,40,...,6.0,8.0,114,218.0,192.0,166.0,59.0,142.0,31.0,101.0

In [5]:
#look how many times a winner player (colomn ID1 ) had won in the past

from pandas import *
winners =stats_clean['ID1'].value_counts()

df=winners.to_frame(name="count_Won").reset_index()

winnersDF = df.rename(columns={'index': 'ID'})

In [6]:
#look how many times a looser player (colomn ID2 ) had lost in the past
loosers =stats_clean['ID2'].value_counts()
df=loosers.to_frame(name="count_Loss").reset_index()
loosersDF = df.rename(columns={'index': 'ID'})

In [7]:
#merge so that we can find for ever player  how many  times  he won and lost 
result = pd.merge(loosersDF,winnersDF,on=['ID'])

In [8]:
#here we consider every winner and look for the average of  their good breaks out of the breaks he had
stats_clean['wonBreaks'] = stats_clean['RPW_1']/stats_clean['RPWOF_1']*100
dfWon = stats_clean[['ID1','wonBreaks']] 
dfWon = dfWon.rename(columns={'ID1': 'ID'})
avg_wonBreak = dfWon['wonBreaks'].groupby(dfWon['ID']).mean()
avg_wonBreak

frame7=avg_wonBreak.to_frame(name="avg_wonBreakW").reset_index()

In [9]:
#here we consider every looser and look for the average of  their good breaks out of the breaks he had
stats_clean['wonBreaksL'] = stats_clean['RPW_2']/stats_clean['RPWOF_2']*100
dfLost = stats_clean[['ID2','wonBreaksL']] 
dfLost = dfLost.rename(columns={'ID2': 'ID'})
avg_lostBreak = dfLost['wonBreaksL'].groupby(dfWon['ID']).mean()
avg_lostBreak

frame8=avg_lostBreak.to_frame(name="avg_wonBreakL").reset_index()



#merge so that we know how many good breaks a player had done (in the two  cases whether he won or lost)  

result1 = pd.merge(frame7,frame8,on=['ID'])

In [10]:
#look for how many times a winner had won points from the ones he had played 
stats_clean['WonPoints'] = stats_clean['RPW_1']/stats_clean['RPWOF_1']*100


dfWonPoints = stats_clean[['ID1','WonPoints']] 
dfWonPoints = dfWonPoints.rename(columns={'ID1': 'ID'})
avg_Wonpoints_perUser = dfWonPoints['WonPoints'].groupby(dfWonPoints['ID']).mean()
avg_Wonpoints_perUser

frame1=avg_Wonpoints_perUser.to_frame(name="avg_pointsW").reset_index()

In [11]:
#look for how many times a looser had won points from the ones he had played 
stats_clean['LostPoints'] = stats_clean['RPW_2']/stats_clean['RPWOF_2']*100
dfLostPoints = stats_clean[['ID2','LostPoints']] 
dfLostPoints = dfLostPoints.rename(columns={'ID2': 'ID'})
avg_lostpoints_perUser = dfLostPoints['LostPoints'].groupby(dfLostPoints['ID']).mean()
avg_lostpoints_perUser

frame2=avg_lostpoints_perUser.to_frame(name="avg_pointsL").reset_index()

In [12]:
#merge to know each player performance: won points whether he won or failed
resultPoints = pd.merge(frame1,frame2,on=['ID'])

In [13]:
#include this information in the created dataframe
d = pd.merge(result,resultPoints,on=['ID'])
DF = pd.merge(d,result1,on=['ID'])

In [14]:
#caluclate the averages of double faults and direct errors of every winner
stats_clean['FaultsW'] = (stats_clean['DF_1']+stats_clean['UE_1']).mean()
faults1 = stats_clean[['ID1','FaultsW']] 
faults1 = faults1.rename(columns={'ID1': 'ID'})
faults_perUser =faults1['FaultsW'].groupby(faults1['ID']).mean()
faults_perUser

frame5=faults_perUser.to_frame(name="avgFaultsW").reset_index()

In [15]:
#caluclate the averages of dauble faults and direct errors of every looser
stats_clean['FaultsL'] = stats_clean['DF_2']+stats_clean['UE_2']
faults2 = stats_clean[['ID2','FaultsL']] 
faults2 = faults2.rename(columns={'ID2': 'ID'})
faultsl_perUser =faults2['FaultsL'].groupby(faults2['ID']).mean()
faultsl_perUser

frame6=faultsl_perUser.to_frame(name="avgFaultsL").reset_index()

In [16]:
#merge to know how many errors a player  had done (in both cases win/lose)
FaultPoints = pd.merge(frame5,frame6,on=['ID'])

In [17]:
#include this new calculated feature
Data = pd.merge(DF,FaultPoints,on=['ID'])

In [18]:

#here we consider every winner and look for the average of  their good serves out of the serves he played 

stats_clean['goodServe'] = stats_clean['FS_1']/stats_clean['FSOF_1']*100


dfgoodServe = stats_clean[['ID1','goodServe']] 
dfgoodServe= dfgoodServe.rename(columns={'ID1': 'ID'})

avg_goodServe_perUser = dfgoodServe['goodServe'].groupby(dfgoodServe['ID']).mean()
avg_goodServe_perUser 
frame3=avg_goodServe_perUser.to_frame(name="avg_goodServeW").reset_index()

In [19]:
#here we consider every looser and look for the average of  their good serves out of the serves he played
stats_clean['lostServe'] = stats_clean['FS_2']/stats_clean['FSOF_2']*100
dfLost = stats_clean[['ID2','lostServe']] 
dfLost = dfLost.rename(columns={'ID2': 'ID'})
avg_lostServe = dfLost['lostServe'].groupby(dfLost['ID']).mean()
avg_lostServe

frame4=avg_lostServe.to_frame(name="avg_goodServeL").reset_index()

In [20]:
#we merge to see for every player the % of his good serves, whether winner or looser
resultServe = pd.merge(frame3,frame4,on=['ID'])

In [21]:
#we add this calculated feature to our final created statistical dataset
finalDataSet = pd.merge(Data,resultServe,on=['ID'])
finalDataSet

#these statistics were calculated from the colomns of stats.csv 

#for each player : 
 #   count_loss : how many times he lost in the past
  #  count_won: how many times he won in the past
  # avg_pointsW :  the average of points got when he won
  # avg_pointsL : the average of points got when he lost   
  # avg_wonBreakW : the average of good breaks he made when he won
  # avg_wonBreakL : the average of good breaks he made when he lost  
  # avgFaultsW : average of faults made when he won 
  # avgFaultsL : average of faults made when lost 
  # avg_goodServeW :   average of good serves from the total serves he made when he won 
  # avg_goodServeL : average of good serves from the total serves he made when he lost the match

,ID,count_Loss,count_Won,avg_pointsW,avg_pointsL,avg_wonBreakW,avg_wonBreakL,avgFaultsW,avgFaultsL,avg_goodServeW,avg_goodServeL
0,831,17,54,42.015088,29.688267,42.015088,28.298502,33.3703,43.176471,58.043741,59.224293
1,7,16,13,42.142244,35.745448,42.142244,34.793196,33.3703,52.250000,52.946974,53.071159
2,11522,16,21,35.161828,27.257577,35.161828,30.387566,33.3703,31.625000,68.678388,68.794538
3,7043,16,14,39.951653,29.087182,39.951653,29.913653,33.3703,43.750000,63.367830,59.872162
4,7459,16,21,38.046669,28.133013,38.046669,26.886547,33.3703,39.125000,66.966046,65.664520
5,11704,16,39,37.648623,25.334035,37.648623,25.019130,33.3703,50.687500,63.972431,62.232387
6,4010,15,26,44.423721,33.562129,44.423721,33.814487,33.3703,41.866667,59.962194,59.705990
7,674,15,40,42.396748,29.555993,42.396748,29.063958,33.3703,29.800000,61.819808,63.350994
8,1092,15,48,38.947152,32.966179,38.947152,29.336635,33.3703,54.733333,57.493976,55.892945
9,5837,15,28,33.753310,24.361028,33.753310,22.728627,33.3703,47.066667,69.076495,72.922125
10,3985,15,46,39.591516,29.585651,39.591516,27.177333,33.3703,44.333333,63.755256,61.385139
11,673,15,55,45.655427,32.580833,45.655427,31.407907,33.3703,41.066667,62.910668,63.194335
12,678,14,22,40.517427,29.053141,40.517427,27.836018,33.3703,39.357143,63.189271,59.838029
13,468,14,18,36.681589,27.455399,36.681589,30.332300,33.3703,43.785714,57.478548,58.241211
14,4009,14,10,43.741626,30.422676,43.741626,30.568926,33.3703,41.357143,52.073705,52.840720
15,8806,14,34,43.948824,32.105449,43.948824,31.800979,33.3703,46.357143,62.221538,60.130897
16,4067,14,13,43.431158,32.312169,43.431158,33.671499,33.3703,53.214286,61.015606,60.863513
17,672,14,18,41.536205,31.366795,41.536205,29.084647,33.3703,57.642857,65.586619,64.360235
18,19,14,68,43.426722,31.542397,43.426722,25.209276,33.3703,45.857143,64.609554,63.761464
19,12043,13,10,40.974546,32.232779,40.974546,34.369738,33.3703,56.923077,51.804492,52.593025
20,11953,13,24,41.536746,30.263314,41.536746,27.071844,33.3703,46.923077,61.758915,62.893050
21,650,13,10,40.240908,29.684295,40.240908,34.613128,33.3703,43.384615,66.234134,64.826075
22,791,13,12,40.119358,32.943754,40.119358,33.901687,33.3703,52.769231,57.714346,57.588370
23,7540,13,7,38.617282,26.383543,38.617282,24.124702,33.3703,39.153846,66.342831,60.799683
24,4061,13,13,37.370775,29.725890,37.370775,27.900144,33.3703,46.230769,62.091744,60.577564
25,1075,13,76,44.491892,31.841893,44.491892,30.254338,33.3703,47.461538,62.028244,60.649235
26,11226,12,12,43.634108,30.239795,43.634108,33.501813,33.3703,38.166667,56.719035,58.529808
27,12661,12,4,42.878694,26.502000,42.878694,32.679863,33.3703,37.333333,65.376151,60.280548
28,1035,12,5,41.080198,28.225701,41.080198,36.944234,33.3703,25.416667,62.129690,64.587939
29,7806,12,2,41.220466,32.808158,41.220466,31.780327,33.3703,45.416667,55.271842,61.490176
...,...,...,...,...,...,...,...,...,...,...,...
190,12,1,1,38.857143,43.220339,38.857143,34.969325,33.3703,37.000000,56.441718,59.872611
191,26473,1,1,34.782609,21.428571,34.782609,36.885246,33.3703,48.000000,55.737705,60.377358
192,18485,1,1,44.000000,26.506024,44.000000,20.833333,33.3703,37.000000,64.583333,42.528736
193,11521,1,1,46.341463,28.089888,46.341463,41.463415,33.3703,13.000000,52.439024,69.230769
194,21548,1,1,41.463415,36.666667,41.463415,38.043478,33.3703,71.000000,57.608696,48.780488
195,13269,1,1,34.246575,28.571429,34.246575,28.235294,33.3703,31.000000,68.235294,50.793651
196,20104,1,1,41.333333,32.575758,41.333333,16.363636,33.3703,33.000000,67.272727,60.909091
197,5129,1,1,40.000000,21.917808,40.000000,35.000000,33.3703,27.000000,53.000000,64.835165
198,4178,1,1,36.111111,16.438356,36.111111,32.876712,33.3703,24.000000,65.753425,67.768595
199,8146,1,2,34.285714,34.210526,34.285714,29.446779,33.3703,45.000000,67.787115,70.967742
200,3233,1,3,54.279944,29.870130,54.279944,34.004884,33.3703,18.000000,53.203093,57.746479
201,11438,1,1,49.056604,42.253521,49.056604,13.513514,33.3703,65.000000,70.270270,61.935484
202,882,1,3,43.823325,35.802469,43.823325,36.294261,33.3703,41.000000,66.844867,64.367816
203,34861,1,1,51.923077,28.571429,51.923077,33.333333,33.3703,32.000000,52.083333,61.403509
204,13273,1,2,40.033273,32.173913,40.033273,35.049020,33.3703,49.000000,66.399287,52.755906
205,10404,1,2,46.436826,34.146341,46.436826,34.215905,33.3703,41.000000,56.038647,65.656566
206,18016,1,1,42.767296,23.188406,42.767296,33.566434,33.3703,36.000000,53.846154,58.474576
207,3555,1,2,37.614923,33.076923,37.614923,38.495423,33.3703,32.000000,70.820669,62.616822
208,575,1,1,48.437500,33.620690,48.437500,36.363636,33.3703,34.000000,59.090909,64.285714
209,17020,1,1,44.086022,33.653846,44.086022,37.500000,33.3703,47.000000,51.388889,71.052632
210,11881,1,2,40.959024,18.461538,40.959024,34.667906,33.3703,51.000000,63.923643,64.545455
211,649,1,1,46.969697,34.814815,46.969697,29.824561,33.3703,58.000000,66.666667,61.029412
212,6820,1,1,38.571429,30.107527,38.571429,30.136986,33.3703,25.000000,60.273973,61.627907
213,9153,1,3,41.982571,31.914894,41.982571,23.900463,33.3703,25.000000,63.618827,55.813953
214,12653,1,2,40.277778,29.411765,40.277778,30.466028,33.3703,45.000000,58.405923,61.111111
215,3852,1,1,41.739130,38.666667,41.739130,33.653846,33.3703,24.000000,65.625000,69.230769
216,30470,1,1,36.111111,32.710280,36.111111,40.000000,33.3703,24.000000,46.666667,66.666667
217,25372,1,1,34.108527,30.303030,34.108527,32.824427,33.3703,30.000000,62.595420,51.250000
218,1747,1,2,42.617754,34.545455,42.617754,27.390181,33.3703,28.000000,61.341824,65.476190
219,14891,1,1,49.180328,25.641026,49.180328,26.923077,33.3703,39.000000,48.979592,66.250000

In [22]:
#get and clean train.csv
train = pd.read_csv("/home/lemina/Desktop/data/train.csv")
train_clean = train.dropna()

del train_clean['Unnamed: 0']
del train_clean['RESULT_G']

In [23]:
# retrieve information of the winning players from our created statistical dataset

train_clean = train_clean.rename(columns={'ID2_G': 'ID'})

trclean = pd.merge(train_clean,finalDataSet,on=['ID'],how='inner')
trclean= trclean.rename(columns={'ID': 'ID_2'})
trclean.columns
traincl = trclean.rename(columns={'ID1_G': 'ID'})
trainingDataSet = pd.merge(traincl,finalDataSet,on=['ID'],how='inner',suffixes=('_1', '_2'))
trainingDataSet=trainingDataSet.rename(columns={'ID': 'ID_1'})
trainingDataSet.columns

Index([u'ID_1', u'ID_2', u'ID_T_G', u'ID_R_G', u'DATE_G', u'count_Loss_1',
       u'count_Won_1', u'avg_pointsW_1', u'avg_pointsL_1', u'avg_wonBreakW_1',
       u'avg_wonBreakL_1', u'avgFaultsW_1', u'avgFaultsL_1',
       u'avg_goodServeW_1', u'avg_goodServeL_1', u'count_Loss_2',
       u'count_Won_2', u'avg_pointsW_2', u'avg_pointsL_2', u'avg_wonBreakW_2',
       u'avg_wonBreakL_2', u'avgFaultsW_2', u'avgFaultsL_2',
       u'avg_goodServeW_2', u'avg_goodServeL_2'],
      dtype='object')

In [24]:
#our trainingset has column for winner and column for looser 
#we are going to change this to player1 and player2 with the correspondant stats to train the model
# we will devide the training set into two subsets 
#subset A has the winner in first column and looser in second column (like the oringinal dataset) result = 1 (Player1 won)
#subset B has the winner in second column and looser in  first column  result = 2 (player 2 won)
#this will help us make the classification for future challenges (whether 1 or 2 )


subsetA = trainingDataSet[0:len(trainingDataSet.index)/2]
subsetA
subsetA.insert(4,'Result',1)
subsetA = subsetA.rename(columns={'ID_1': 'Player1' , 'ID_2':'Player2'})


subsetB= trainingDataSet[len(trainingDataSet.index)/2:len(trainingDataSet.index)]

subsetB1 = subsetB[['ID_2', 'count_Loss_1','DATE_G','ID_T_G','ID_R_G','count_Won_1','avg_pointsW_1','avg_pointsL_1','avg_wonBreakW_1','avg_wonBreakL_1',
             'avgFaultsW_1','avgFaultsL_1','avg_goodServeW_1','avg_goodServeL_1','ID_1','count_Loss_2','count_Won_2','avg_pointsW_2',
             'avg_pointsL_2','avg_wonBreakW_2','avg_wonBreakL_2','avgFaultsW_2','avgFaultsL_2','avg_goodServeW_2','avg_goodServeL_2']]

subsetB1.insert(4,'Result',2)
subsetB1 = subsetB1.rename(columns={'ID_1': 'Player2' , 'ID_2':'Player1', 'count_Loss_1' : 'count_Loss_2','count_Won_1': 'count_Won_2',
                                   'avg_pointsW_1':'avg_pointsW_2','avg_pointsL_1':'avg_pointsL_2','avg_wonBreakW_1':'avg_wonBreakW_2',
                                   'avg_wonBreakL_1':'avg_wonBreakL_2','avgFaultsW_1':'avgFaultsW_2','avgFaultsL_1':'avgFaultsL_2',
                                   'avg_goodServeW_1':'avg_goodServeW_2','avg_goodServeL_1':'avg_goodServeL_2','count_Loss_2':'count_Loss_1','count_Won_2':'count_Won_1',
                                   'avg_pointsW_2':'avg_pointsW_1',
             'avg_pointsL_2':'avg_pointsL_1','avg_wonBreakW_2':'avg_wonBreakW_1','avg_wonBreakL_2':'avg_wonBreakL_1','avgFaultsW_2':'avgFaultsW_1','avgFaultsL_2':'avgFaultsL_1','avg_goodServeW_2':'avg_goodServeW_1','avg_goodServeL_2':'avg_goodServeL_1'})
subsetB1

frames = [subsetA, subsetB1]
Trainingset = pd.concat(frames)
Trainingset.drop_duplicates(inplace = True)
#we get out final TrainingSet
TrainingSet =Trainingset.reset_index(drop=True)

In [25]:
#get and clean test.csv 
test = pd.read_csv("/home/lemina/Desktop/data/test.csv")
test_clean = test.dropna()

In [26]:
# retrieve information of the first players ID1 from our created statistical dataset
#this will make the same dataframe structure for training and test datasets

test_clean = test_clean.rename(columns={'ID2_G': 'ID'})

clean = pd.merge(test_clean,finalDataSet,on=['ID'],how='inner')
clean= clean.rename(columns={'ID': 'ID_2'})
clean.columns
clt = clean.rename(columns={'ID1_G': 'ID'})
testDataSet = pd.merge(clt,finalDataSet,on=['ID'],how='inner',suffixes=('_1', '_2'))
testDataSet=testDataSet.rename(columns={'ID': 'ID_1'})
testDataSet.drop_duplicates(inplace = True)
testDataSet.columns

Index([u'ID_1', u'ID_2', u'ID_T_G', u'ID_R_G', u'DATE_G', u'count_Loss_1',
       u'count_Won_1', u'avg_pointsW_1', u'avg_pointsL_1', u'avg_wonBreakW_1',
       u'avg_wonBreakL_1', u'avgFaultsW_1', u'avgFaultsL_1',
       u'avg_goodServeW_1', u'avg_goodServeL_1', u'count_Loss_2',
       u'count_Won_2', u'avg_pointsW_2', u'avg_pointsL_2', u'avg_wonBreakW_2',
       u'avg_wonBreakL_2', u'avgFaultsW_2', u'avgFaultsL_2',
       u'avg_goodServeW_2', u'avg_goodServeL_2'],
      dtype='object')

In [27]:
#rename ID_1 and ID_2 by Player1 and Player2 
testDataSet = testDataSet.rename(columns={'ID_1': 'Player1' , 'ID_2':'Player2'})

testDataSet

,Player1,Player2,ID_T_G,ID_R_G,DATE_G,count_Loss_1,count_Won_1,avg_pointsW_1,avg_pointsL_1,avg_wonBreakW_1,...,count_Loss_2,count_Won_2,avg_pointsW_2,avg_pointsL_2,avg_wonBreakW_2,avg_wonBreakL_2,avgFaultsW_2,avgFaultsL_2,avg_goodServeW_2,avg_goodServeL_2
0,1092,20648,12814,5,2016-05-25 00:00:00,3,1,46.938776,25.896722,46.938776,...,15,48,38.947152,32.966179,38.947152,29.336635,33.3703,54.733333,57.493976,55.892945
1,1092,4146,12812,10,2016-05-20 00:00:00,7,5,33.350153,25.268781,33.350153,...,15,48,38.947152,32.966179,38.947152,29.336635,33.3703,54.733333,57.493976,55.892945
2,1092,4146,12814,4,2016-05-23 00:00:00,7,5,33.350153,25.268781,33.350153,...,15,48,38.947152,32.966179,38.947152,29.336635,33.3703,54.733333,57.493976,55.892945
3,1092,7295,12814,7,2016-05-29 00:00:00,10,12,41.109417,29.123779,41.109417,...,15,48,38.947152,32.966179,38.947152,29.336635,33.3703,54.733333,57.493976,55.892945
4,1092,14432,12812,9,2016-05-19 00:00:00,6,2,48.356060,27.500674,48.356060,...,15,48,38.947152,32.966179,38.947152,29.336635,33.3703,54.733333,57.493976,55.892945
5,1092,12043,12811,5,2016-05-10 00:00:00,13,10,40.974546,32.232779,40.974546,...,15,48,38.947152,32.966179,38.947152,29.336635,33.3703,54.733333,57.493976,55.892945
6,1092,7043,12814,6,2016-05-27 00:00:00,16,14,39.951653,29.087182,39.951653,...,15,48,38.947152,32.966179,38.947152,29.336635,33.3703,54.733333,57.493976,55.892945
7,1092,6101,12812,12,2016-05-21 00:00:00,11,35,39.093551,32.047325,39.093551,...,15,48,38.947152,32.966179,38.947152,29.336635,33.3703,54.733333,57.493976,55.892945
8,1042,20648,12821,4,2016-06-28 00:00:00,3,1,46.938776,25.896722,46.938776,...,11,6,41.304166,33.399240,41.304166,28.978319,33.3703,39.818182,73.582841,71.041424
9,1042,1092,12811,6,2016-05-12 00:00:00,15,48,38.947152,32.966179,38.947152,...,11,6,41.304166,33.399240,41.304166,28.978319,33.3703,39.818182,73.582841,71.041424
10,1042,3492,12814,4,2016-05-24 00:00:00,10,5,38.923074,28.924316,38.923074,...,11,6,41.304166,33.399240,41.304166,28.978319,33.3703,39.818182,73.582841,71.041424
11,1042,11178,12811,4,2016-05-08 00:00:00,9,3,33.722196,29.065269,33.722196,...,11,6,41.304166,33.399240,41.304166,28.978319,33.3703,39.818182,73.582841,71.041424
12,1042,7459,12811,5,2016-05-10 00:00:00,16,21,38.046669,28.133013,38.046669,...,11,6,41.304166,33.399240,41.304166,28.978319,33.3703,39.818182,73.582841,71.041424
13,5127,1718,12816,3,2016-06-05 00:00:00,6,2,32.961033,30.475953,32.961033,...,10,1,40.776699,26.308469,40.776699,30.841121,33.3703,41.200000,63.551402,59.312789
14,5127,7345,12821,1,2016-06-20 00:00:00,6,2,40.768780,27.262025,40.768780,...,10,1,40.776699,26.308469,40.776699,30.841121,33.3703,41.200000,63.551402,59.312789
15,5127,7803,12816,1,2016-06-04 00:00:00,2,1,48.571429,29.204545,48.571429,...,10,1,40.776699,26.308469,40.776699,30.841121,33.3703,41.200000,63.551402,59.312789
16,5127,3996,12821,3,2016-06-24 00:00:00,7,1,39.622642,36.426088,39.622642,...,10,1,40.776699,26.308469,40.776699,30.841121,33.3703,41.200000,63.551402,59.312789
17,5127,14891,12985,5,2016-05-12 00:00:00,1,1,49.180328,25.641026,49.180328,...,10,1,40.776699,26.308469,40.776699,30.841121,33.3703,41.200000,63.551402,59.312789
18,5127,655,12821,5,2016-06-30 00:00:00,6,5,29.272858,22.919569,29.272858,...,10,1,40.776699,26.308469,40.776699,30.841121,33.3703,41.200000,63.551402,59.312789
19,5127,9831,12985,9,2016-05-13 00:00:00,5,2,38.523783,35.854692,38.523783,...,10,1,40.776699,26.308469,40.776699,30.841121,33.3703,41.200000,63.551402,59.312789
20,5127,2123,12821,4,2016-06-27 00:00:00,8,3,43.966609,30.598232,43.966609,...,10,1,40.776699,26.308469,40.776699,30.841121,33.3703,41.200000,63.551402,59.312789
21,22433,1718,13166,5,2016-06-16 00:00:00,6,2,32.961033,30.475953,32.961033,...,2,1,39.090909,35.206471,39.090909,36.206897,33.3703,39.000000,63.963964,58.841196
22,22433,9842,13161,5,2016-06-09 00:00:00,4,3,42.926737,37.995676,42.926737,...,2,1,39.090909,35.206471,39.090909,36.206897,33.3703,39.000000,63.963964,58.841196
23,22433,9584,13161,4,2016-06-07 00:00:00,2,2,52.672548,26.845771,52.672548,...,2,1,39.090909,35.206471,39.090909,36.206897,33.3703,39.000000,63.963964,58.841196
24,22433,4003,13161,9,2016-06-10 00:00:00,5,2,37.692308,24.739916,37.692308,...,2,1,39.090909,35.206471,39.090909,36.206897,33.3703,39.000000,63.963964,58.841196
25,22433,20655,12976,12,2016-05-01 00:00:00,2,1,48.529412,39.957303,48.529412,...,2,1,39.090909,35.206471,39.090909,36.206897,33.3703,39.000000,63.963964,58.841196
26,935,1718,12814,1,2016-05-16 00:00:00,6,2,32.961033,30.475953,32.961033,...,7,2,43.693182,31.854741,43.693182,37.868427,33.3703,31.142857,71.639101,69.025109
27,935,728,12986,4,2016-05-10 00:00:00,9,17,39.198349,28.735082,39.198349,...,7,2,43.693182,31.854741,43.693182,37.868427,33.3703,31.142857,71.639101,69.025109
28,935,7345,12814,3,2016-05-20 00:00:00,6,2,40.768780,27.262025,40.768780,...,7,2,43.693182,31.854741,43.693182,37.868427,33.3703,31.142857,71.639101,69.025109
29,935,20655,13158,5,2016-06-09 00:00:00,2,1,48.529412,39.957303,48.529412,...,7,2,43.693182,31.854741,43.693182,37.868427,33.3703,31.142857,71.639101,69.025109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602,1672,918,12821,4,2016-06-27 00:00:00,3,2,39.148085,28.585721,39.148085,...,10,3,43.607346,32.154794,43.607346,35.063639,33.3703,41.000000,61.441348,64.799727
603,1672,23298,12980,4,2016-05-03 00:00:00,2,1,44.927536,30.113636,44.927536,...,10,3,43.607346,32.154794,43.607346,35.063639,33.3703,41.000000,61.441348,64.799727
604,1035,578,12814,5,2016-05-26 00:00:00,11,5,39.414202,30.354828,39.414202,...,12,5,41.080198,28.225701,41.080198,36.944234,33.3703,25.416667,62.129690,64.587939
605,1035,4067,12814,4,2016-05-24 00:00:00,14,13,43.431158,32.312169,43.431158,...,12,5,41.080198,28.225701,41.080198,36.944234,33.3703,25.416667,62.129690,64.587939
606,1035,677,12814,6,2016-05-27 00:00:00,9,50,45.820623,32.280969,45.820623,...,12,5,41.080198,28.225701,41.080198,36.944234,33.3703,25.416667,62.129690,64.587939
607,1035,735,12813,4,2016-05-17 00:00:00,5,3,39.854306,33.873924,39.854306,...,12,5,41.080198,28.225701,41.080198,36.944234,33.3703,25.416667,62.129690,64.587939
608,13269,5961,13162,4,2016-06-13 00:00:00,11,2,42.024089,29.359887,42.024089,...,1,1,34.246575,28.571429,34.246575,28.235294,33.3703,31.000000,68.235294,50.793651
609,13269,7805,12983,5,2016-05-04 00:00:00,7,4,40.703725,22.350088,40.703725,...,1,1,34.246575,28.571429,34.246575,28.235294,33.3703,31.000000,68.235294,50.793651
610,5917,7459,12810,4,2016-05-03 00:00:00,16,21,38.046669,28.133013,38.046669,...,12,26,43.205869,34.536628,43.205869,30.500942,33.3703,53.500000,63.982220,67.972001
611,11522,7459,12819,4,2016-06-14 00:00:00,16,21,38.046669,28.133013,38.046669,...,16,21,35.161828,27.257577,35.161828,30.387566,33.3703,31.625000,68.678388,68.794538
612,11522,672,12819,5,2016-06-16 00:00:00,14,18,41.536205,31.366795,41.536205,...,16,21,35.161828,27.257577,35.161828,30.387566,33.3703,31.625000,68.678388,68.794538
613,11522,672,12821,4,2016-06-29 00:00:00,14,18,41.536205,31.366795,41.536205,...,16,21,35.161828,27.257577,35.161828,30.387566,33.3703,31.625000,68.678388,68.794538
614,11522,735,12814,4,2016-05-24 00:00:00,5,3,39.854306,33.873924,39.854306,...,16,21,35.161828,27.257577,35.161828,30.387566,33.3703,31.625000,68.678388,68.794538
615,11522,685,12819,9,2016-06-17 00:00:00,7,3,31.341259,25.522831,31.341259,...,16,21,35.161828,27.257577,35.161828,30.387566,33.3703,31.625000,68.678388,68.794538
616,918,12043,12814,5,2016-05-25 00:00:00,13,10,40.974546,32.232779,40.974546,...,3,2,39.148085,28.585721,39.148085,39.230769,33.3703,47.333333,58.146853,64.423077
617,918,2123,12818,4,2016-06-15 00:00:00,8,3,43.966609,30.598232,43.966609,...,3,2,39.148085,28.585721,39.148085,39.230769,33.3703,47.333333,58.146853,64.423077
618,918,6627,12814,4,2016-05-22 00:00:00,10,8,44.850362,31.844741,44.850362,...,3,2,39.148085,28.585721,39.148085,39.230769,33.3703,47.333333,58.146853,64.423077
619,4067,11522,12810,4,2016-05-03 00:00:00,16,21,35.161828,27.257577,35.161828,...,14,13,43.431158,32.312169,43.431158,33.671499,33.3703,53.214286,61.015606,60.863513
620,4067,11940,12821,4,2016-06-30 00:00:00,4,4,42.245656,27.356869,42.245656,...,14,13,43.431158,32.312169,43.431158,33.671499,33.3703,53.214286,61.015606,60.863513
621,12043,11522,12811,4,2016-05-08 00:00:00,16,21,35.161828,27.257577,35.161828,...,13,10,40.974546,32.232779,40.974546,34.369738,33.3703,56.923077,51.804492,52.593025
622,25165,11522,12814,5,2016-05-26 00:00:00,16,21,35.161828,27.257577,35.161828,...,3,2,41.330203,31.215223,41.330203,28.414716,33.3703,43.000000,60.531053,61.212207
623,25165,4045,12810,4,2016-05-03 00:00:00,11,20,39.502379,27.655059,39.502379,...,3,2,41.330203,31.215223,41.330203,28.414716,33.3703,43.000000,60.531053,61.212207
624,4146,13799,12812,9,2016-05-19 00:00:00,6,8,42.516954,28.113011,42.516954,...,7,5,33.350153,25.268781,33.350153,28.470808,33.3703,44.142857,62.138207,58.935244
625,4146,5837,12812,5,2016-05-18 00:00:00,15,28,33.753310,24.361028,33.753310,...,7,5,33.350153,25.268781,33.350153,28.470808,33.3703,44.142857,62.138207,58.935244
626,11953,4010,12821,5,2016-06-30 00:00:00,15,26,44.423721,33.562129,44.423721,...,13,24,41.536746,30.263314,41.536746,27.071844,33.3703,46.923077,61.758915,62.893050
627,11953,18485,12821,4,2016-06-27 00:00:00,1,1,44.000000,26.506024,44.000000,...,13,24,41.536746,30.263314,41.536746,27.071844,33.3703,46.923077,61.758915,62.893050
628,20104,935,13167,10,2016-06-25 00:00:00,7,2,43.693182,31.854741,43.693182,...,1,1,41.333333,32.575758,41.333333,16.363636,33.3703,33.000000,67.272727,60.909091
629,9471,6627,12813,5,2016-05-17 00:00:00,10,8,44.850362,31.844741,44.850362,...,4,1,38.461538,28.689801,38.461538,25.000000,33.3703,40.500000,72.826087,64.450033
630,20648,9675,12814,4,2016-05-23 00:00:00,11,7,40.138702,31.792185,40.138702,...,3,1,46.938776,25.896722,46.938776,33.333333,33.3703,29.333333,68.421053,66.289439
631,5103,10292,13245,9,2016-06-17 00:00:00,2,1,46.250000,23.284442,46.250000,...,4,2,36.487639,34.481014,36.487639,31.879467,33.3703,42.250000,63.019818,61.198109

In [28]:
#we will use random forest

#we specify our explonatory variables
predictorsTrain =  TrainingSet[['count_Loss_1','count_Won_1','avg_pointsW_1','avg_pointsL_1',
'avg_wonBreakW_1','avg_wonBreakL_1','avgFaultsW_1','avgFaultsL_1','avg_goodServeW_1','avg_goodServeL_1','count_Loss_2','count_Won_2',
'avg_pointsW_2','avg_pointsL_2','avg_wonBreakW_2','avg_wonBreakL_2','avgFaultsW_2','avgFaultsL_2','avg_goodServeW_2','avg_goodServeL_2']]

#we set our target variable
targetsTrain = TrainingSet.Result

# 60% of the data will be considered for trainin and 40% for validating
pred_train, pred_test, tar_train, tar_test  = train_test_split(predictorsTrain, targetsTrain, test_size=.4 ,random_state=123)

#this will be used testDataSet to predict future matches
predictorsTest =  testDataSet[['count_Loss_1','count_Won_1','avg_pointsW_1','avg_pointsL_1',
'avg_wonBreakW_1','avg_wonBreakL_1','avgFaultsW_1','avgFaultsL_1','avg_goodServeW_1','avg_goodServeL_1','count_Loss_2','count_Won_2',
'avg_pointsW_2','avg_pointsL_2','avg_wonBreakW_2','avg_wonBreakL_2','avgFaultsW_2','avgFaultsL_2','avg_goodServeW_2','avg_goodServeL_2']]

In [29]:
#use grid search to look for best parameters to fit the model


classifier=RandomForestClassifier( n_jobs=-1,max_features= 'sqrt' , oob_score = True ) 

param_grid = { 
           "n_estimators" : [18, 27, 36, 45,54],
           "max_depth" : [10, 15, 20, 25, 30],
           "min_samples_leaf" : [4, 6, 8, 10]}
           

CV_classifier = GridSearchCV(estimator=classifier, param_grid=param_grid, cv= 8)
CV_classifier.fit(pred_train,tar_train) 
print CV_classifier.best_params_

/usr/lib64/python2.7/site-packages/sklearn/ensemble/forest.py:453: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable oob estimates.
  warn("Some inputs do not have OOB scores. "
/usr/lib64/python2.7/site-packages/sklearn/ensemble/forest.py:458: RuntimeWarning: invalid value encountered in true_divide
  predictions[k].sum(axis=1)[:, np.newaxis])

{'n_estimators': 36, 'max_depth': 15, 'min_samples_leaf': 6}

In [30]:
# we find {'n_estimators': 54, 'max_depth': 20, 'min_samples_leaf': 6}
# we fit the model with these hyperparamaeters
rfclassifier = RandomForestClassifier(n_estimators=54, max_depth=25, max_features='sqrt', min_samples_leaf = 6)
rfclassifier=rfclassifier.fit(pred_train,tar_train)
preds=rfclassifier.predict(pred_test)
preds
sklearn.metrics.confusion_matrix(tar_test,preds)
sklearn.metrics.accuracy_score(tar_test, preds)
# the model accuracy on the validation set is 84% / 84% were classified correctly 
#now we will use this classifier to predict future games 

predictions=rfclassifier.predict(predictorsTest)
predictions

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1,
       2, 2, 2, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1,
       1, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 1,
       2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 2, 2, 2, 2, 1, 1, 1, 2, 2,
       2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 2, 2, 2,
       2, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 1, 1,
       1, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1,
       2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       2, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 1, 2,
       2, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [31]:
unique, counts = np.unique(predictions, return_counts=True)
dict(zip(unique, counts))

{1: 282, 2: 350}

In [32]:
model = ExtraTreesClassifier()
model.fit(pred_train,tar_train)
# display the relative importance of each attribute
print(model.feature_importances_)

[0.05583433 0.05086369 0.04609465 0.0441839  0.04431327 0.04528283
 0.         0.04798478 0.04546659 0.05015292 0.13908339 0.11052357
 0.04973908 0.04468447 0.05137186 0.04475562 0.         0.04481925
 0.03775436 0.04709145]

In [33]:
winner = np.asarray(predictions)
Winner= pd.DataFrame(winner, columns=['Winner'])
Winner

     Winner
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        2
14        1
15        1
16        2
17        1
18        1
19        1
20        2
21        2
22        2
23        2
24        2
25        2
26        2
27        2
28        2
29        2
..      ...
602       1
603       1
604       1
605       1
606       1
607       1
608       2
609       2
610       1
611       1
612       1
613       1
614       1
615       1
616       1
617       1
618       1
619       1
620       1
621       1
622       2
623       2
624       2
625       2
626       2
627       2
628       2
629       2
630       2
631       2

[632 rows x 1 columns]

In [34]:
Test=testDataSet[['Player1','Player2','ID_T_G','ID_R_G','DATE_G']]
Test

     Player1  Player2  ID_T_G  ID_R_G               DATE_G
0       1092    20648   12814       5  2016-05-25 00:00:00
1       1092     4146   12812      10  2016-05-20 00:00:00
2       1092     4146   12814       4  2016-05-23 00:00:00
3       1092     7295   12814       7  2016-05-29 00:00:00
4       1092    14432   12812       9  2016-05-19 00:00:00
5       1092    12043   12811       5  2016-05-10 00:00:00
6       1092     7043   12814       6  2016-05-27 00:00:00
7       1092     6101   12812      12  2016-05-21 00:00:00
8       1042    20648   12821       4  2016-06-28 00:00:00
9       1042     1092   12811       6  2016-05-12 00:00:00
10      1042     3492   12814       4  2016-05-24 00:00:00
11      1042    11178   12811       4  2016-05-08 00:00:00
12      1042     7459   12811       5  2016-05-10 00:00:00
13      5127     1718   12816       3  2016-06-05 00:00:00
14      5127     7345   12821       1  2016-06-20 00:00:00
15      5127     7803   12816       1  2016-06-04 00:00:00
16      5127     3996   12821       3  2016-06-24 00:00:00
17      5127    14891   12985       5  2016-05-12 00:00:00
18      5127      655   12821       5  2016-06-30 00:00:00
19      5127     9831   12985       9  2016-05-13 00:00:00
20      5127     2123   12821       4  2016-06-27 00:00:00
21     22433     1718   13166       5  2016-06-16 00:00:00
22     22433     9842   13161       5  2016-06-09 00:00:00
23     22433     9584   13161       4  2016-06-07 00:00:00
24     22433     4003   13161       9  2016-06-10 00:00:00
25     22433    20655   12976      12  2016-05-01 00:00:00
26       935     1718   12814       1  2016-05-16 00:00:00
27       935      728   12986       4  2016-05-10 00:00:00
28       935     7345   12814       3  2016-05-20 00:00:00
29       935    20655   13158       5  2016-06-09 00:00:00
..       ...      ...     ...     ...                  ...
602     1672      918   12821       4  2016-06-27 00:00:00
603     1672    23298   12980       4  2016-05-03 00:00:00
604     1035      578   12814       5  2016-05-26 00:00:00
605     1035     4067   12814       4  2016-05-24 00:00:00
606     1035      677   12814       6  2016-05-27 00:00:00
607     1035      735   12813       4  2016-05-17 00:00:00
608    13269     5961   13162       4  2016-06-13 00:00:00
609    13269     7805   12983       5  2016-05-04 00:00:00
610     5917     7459   12810       4  2016-05-03 00:00:00
611    11522     7459   12819       4  2016-06-14 00:00:00
612    11522      672   12819       5  2016-06-16 00:00:00
613    11522      672   12821       4  2016-06-29 00:00:00
614    11522      735   12814       4  2016-05-24 00:00:00
615    11522      685   12819       9  2016-06-17 00:00:00
616      918    12043   12814       5  2016-05-25 00:00:00
617      918     2123   12818       4  2016-06-15 00:00:00
618      918     6627   12814       4  2016-05-22 00:00:00
619     4067    11522   12810       4  2016-05-03 00:00:00
620     4067    11940   12821       4  2016-06-30 00:00:00
621    12043    11522   12811       4  2016-05-08 00:00:00
622    25165    11522   12814       5  2016-05-26 00:00:00
623    25165     4045   12810       4  2016-05-03 00:00:00
624     4146    13799   12812       9  2016-05-19 00:00:00
625     4146     5837   12812       5  2016-05-18 00:00:00
626    11953     4010   12821       5  2016-06-30 00:00:00
627    11953    18485   12821       4  2016-06-27 00:00:00
628    20104      935   13167      10  2016-06-25 00:00:00
629     9471     6627   12813       5  2016-05-17 00:00:00
630    20648     9675   12814       4  2016-05-23 00:00:00
631     5103    10292   13245       9  2016-06-17 00:00:00

[632 rows x 5 columns]

In [35]:
TestSet =Test.join(Winner)
TestSet.columns
TestSet.rename(columns={'0': 'Winner'})
TestSet.columns
TestSet

     Player1  Player2  ID_T_G  ID_R_G               DATE_G  Winner
0       1092    20648   12814       5  2016-05-25 00:00:00       1
1       1092     4146   12812      10  2016-05-20 00:00:00       1
2       1092     4146   12814       4  2016-05-23 00:00:00       1
3       1092     7295   12814       7  2016-05-29 00:00:00       1
4       1092    14432   12812       9  2016-05-19 00:00:00       1
5       1092    12043   12811       5  2016-05-10 00:00:00       1
6       1092     7043   12814       6  2016-05-27 00:00:00       1
7       1092     6101   12812      12  2016-05-21 00:00:00       1
8       1042    20648   12821       4  2016-06-28 00:00:00       1
9       1042     1092   12811       6  2016-05-12 00:00:00       1
10      1042     3492   12814       4  2016-05-24 00:00:00       1
11      1042    11178   12811       4  2016-05-08 00:00:00       1
12      1042     7459   12811       5  2016-05-10 00:00:00       1
13      5127     1718   12816       3  2016-06-05 00:00:00       2
14      5127     7345   12821       1  2016-06-20 00:00:00       1
15      5127     7803   12816       1  2016-06-04 00:00:00       1
16      5127     3996   12821       3  2016-06-24 00:00:00       2
17      5127    14891   12985       5  2016-05-12 00:00:00       1
18      5127      655   12821       5  2016-06-30 00:00:00       1
19      5127     9831   12985       9  2016-05-13 00:00:00       1
20      5127     2123   12821       4  2016-06-27 00:00:00       2
21     22433     1718   13166       5  2016-06-16 00:00:00       2
22     22433     9842   13161       5  2016-06-09 00:00:00       2
23     22433     9584   13161       4  2016-06-07 00:00:00       2
24     22433     4003   13161       9  2016-06-10 00:00:00       2
25     22433    20655   12976      12  2016-05-01 00:00:00       2
26       935     1718   12814       1  2016-05-16 00:00:00       2
27       935      728   12986       4  2016-05-10 00:00:00       2
28       935     7345   12814       3  2016-05-20 00:00:00       2
29       935    20655   13158       5  2016-06-09 00:00:00       2
..       ...      ...     ...     ...                  ...     ...
602     1672      918   12821       4  2016-06-27 00:00:00       1
603     1672    23298   12980       4  2016-05-03 00:00:00       1
604     1035      578   12814       5  2016-05-26 00:00:00       1
605     1035     4067   12814       4  2016-05-24 00:00:00       1
606     1035      677   12814       6  2016-05-27 00:00:00       1
607     1035      735   12813       4  2016-05-17 00:00:00       1
608    13269     5961   13162       4  2016-06-13 00:00:00       2
609    13269     7805   12983       5  2016-05-04 00:00:00       2
610     5917     7459   12810       4  2016-05-03 00:00:00       1
611    11522     7459   12819       4  2016-06-14 00:00:00       1
612    11522      672   12819       5  2016-06-16 00:00:00       1
613    11522      672   12821       4  2016-06-29 00:00:00       1
614    11522      735   12814       4  2016-05-24 00:00:00       1
615    11522      685   12819       9  2016-06-17 00:00:00       1
616      918    12043   12814       5  2016-05-25 00:00:00       1
617      918     2123   12818       4  2016-06-15 00:00:00       1
618      918     6627   12814       4  2016-05-22 00:00:00       1
619     4067    11522   12810       4  2016-05-03 00:00:00       1
620     4067    11940   12821       4  2016-06-30 00:00:00       1
621    12043    11522   12811       4  2016-05-08 00:00:00       1
622    25165    11522   12814       5  2016-05-26 00:00:00       2
623    25165     4045   12810       4  2016-05-03 00:00:00       2
624     4146    13799   12812       9  2016-05-19 00:00:00       2
625     4146     5837   12812       5  2016-05-18 00:00:00       2
626    11953     4010   12821       5  2016-06-30 00:00:00       2
627    11953    18485   12821       4  2016-06-27 00:00:00       2
628    20104      935   13167      10  2016-06-25 00:00:00       2
629     9471     6627   12813       5  2016-05-17 00:00:00       2
630    20648     9675   12814       4  2016-05-23 00:00:00       2
631     5103    10292   13245       9  2016-06-17 00:00:00       2

[632 rows x 6 columns]

In [38]:
TestSet.to_csv('/home/lemina/Desktop/test.csv', sep=',', encoding='utf-8')